pypdf
pypdf2
google.genai

ollama
pymupdf
langchain-google-genai
chromadb
google.generativeai
langchain_ollama
nltk
rank_bm25
langchain
langchain_community
scikit-learn
tqdm
reportlab
langchain-text-splitters
requests 
httpx
chromadb 
sentence-transformers
langchain-ollama 
python-dotenv 
google-generativeai 
numpy==1.26.4
pandas==2.2.0
matplotlib==3.8.2
seaborn==0.13.0
streamlit==1.32.0
  # For local LLM support